.general-row{	display:block;
					position:relative;
					margin:0;
					padding: 70px 0px 0px 0px;
	 }

.bui h5{	font-size: 40px;
			font-family:'Baloo Da', cursive;
			padding-bottom: 4%}
.bui-h4{font-size: 26px;}
.bui2 h4{font-size: 26px;margin-top: 5%}
.bui p{font-family: 'El Messiri', sans-serif;
			font-size: 16px;
			padding-top: 2%;
	    	padding-bottom: 3%;}
.bui2 p{font-family: 'El Messiri', sans-serif;
			font-size: 16px;
			padding-top: 1%;
	    	}
.container {
	    padding-right: 300px;
	    padding-left: 300px;}

hr {
	 margin-top: 20px;
	 margin-bottom: 20px;
	 border: 0;
	 border-top: 3px solid #eee;}
.btn-success {
    color: #fff;
    background-color: black;}