body {
        margin:0 auto;
        padding:0;
        max-width:100%;
    }
.general-row{display:block;
        	position:relatve;
        	margin:0;
        	padding: 70px 0px 0px 0px;
 }
 .navbar{
        background-color: white;
        height:67px;
        }

.navbar-brand>img {
                    display: block;
                    height: 90px;
                    width: 150px;
                }

.navbar-inverse .navbar-nav>li>a {
                                    color: black;
                                    padding-top: 32px;
                                    font-size: 18px;
                                    padding-right: 23px;
                                    font-family: 'El Messiri', sans-serif;
                                }


        .navbar-inverse .navbar-brand {
        color: transparent;
        margin-left: 35%;}

        .navbar-inverse {
            border: none;
        }


         .c1{
        	background-color: #CCCC00
        	}
        .c3{
        	padding-right: 4%;
            font-size: 16px;
            padding-bottom: 2%;
            padding-top: 1%;
        	}
        .c3 span{padding-right: 1px}
        .c4{
        	padding-right: 4%;
            font-size: 16px;
        	}
        .c5{
        	padding-right: 4%;
            font-size: 16px;
        }	
        .c6{font-size: 20px;margin-left: 56%}
        .c62{padding-right: 10px}

        .c21{background-color:lightblue}
        .c22 h2{color: white}
        .c23{text-align:nverse {
            backgr left}
        .c21 .navbar-iound-color: transparent;
            border-color: transparent;}
        .c21 .navbar-inverse .navbar-brand {
            color: black;
            font-size: 33px;
        	padding-bottom: 17%;
            z-index:9999;
            position: absolute;
            }
        .c21 .navbar-nav>li>a {
            font-size: 16px;
            padding-top: 25px;
            padding-bottom: 15px;}
        .c21 .navbar-form .input-group {
            display: inline-table;
            vertical-align: middle; 
            padding-top: 4%;}
        .c31 img{width:100%;}
        .c22{filter: blur(8px);
          -webkit-filter: blur(8px);}
        .centered {
          position: absolute;
          top: 73%;
          left: 52%;
          right: 1%;
          transform: translate(-50%, -50%);
          color: white;
        }
        .con span{font-size: 30px;padding-left: 19%;color: black}
        .con1{font-size: 40px;padding-left: 4%;color: black}
        .con2{font-size: 38px;color: yellow;padding-left: 2%}
        .con p{font-size: 20px;text-align: center;padding-left: 2%;padding-right: 5%;color: black}
        .con .btn {font-size: 21px;margin-left: 15%;margin-top: 5%;}
        .carousel-indicators li{margin-bottom: 7%}
        .carousel-indicators .active {margin-bottom: 7%}
        .c4a{color:#CCCC00;margin-top: 9%;font-size: 43px;}
        .c4b{font-size: 34px;margin-top: -9px;}
        .c4c{margin-top: 7%;margin-bottom: 3%}
        .c4d img{height: 410px;margin-left: 20%}
      
        .lightbl{background-color:#ECFDFF }
        .choose h1{
        	font-size:46px }
        .choose p{font-size: 18px}
        .carousal1{
        	text-align: center;
        }
        .caro {margin-bottom:70px}
        .caro .carousel-indicators li{margin-bottom: -10%;
                                    background-color: black;
                                     border: 1px solid black}
        .caro .carousel-indicators .active {margin-bottom: -10%;    
                                            background-color: white;
                                            border: 1px solid black}
        .cf7-para {
              color: #000;
              font-style: italic;
              padding-left: 20%;
              padding-right: 20%;
              font-family: 'Noto Sans SC', sans-serif;
              font-size: 20px;
            }
            .cf7-h4 {
              color: #000;
              font-size: 25px;
              font-weight: bold;
            }
            .cf7-h5 {
              color: olive;
              font-size: 18px;
            }


.video-container {
  position: relative;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  opacity: 0.5;
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 5%;
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
    width: 300px;
    height: 250px;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.made {font-size: 46px;
        font-family:'Baloo Da', cursive;
        text-align: center;
        padding-bottom:5%
    }

.col-4 .col-md-4{padding-left: 5%}

     


        .contact h1{font-size: 54px;
                font-family:'Baloo Da', cursive;}
        .contact p{font-family: 'El Messiri', sans-serif;
                font-size: 22px}
        .contact .container{    padding-right: 20%;
            padding-left: 20%;}


        #map_container {
            position: relative;
            padding-top: 50%;
          width: 80%;
          margin: 0 auto;
        }
        #map {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }


        @import "bourbon";

        // variables - colors

        $main-text: #2d313f; // main text
        $link: #d36868; // anchor tags
        $background: #e7eaf0; // body background color

        $color-1: #2d313f; // blue
        $color-2: #d36868; // red
        $color-3: #ffffff; // white

        // variables - fonts 

        $primary-font: 'Lora', serif;

        // rem fallback - credits: http://zerosixthree.se/

        @function calculateRem($size) {
          $remSize: $size / 16px;
          @return $remSize * 1rem;
        }

        @mixin font-size($size) {
          font-size: $size;
          font-size: calculateRem($size);
        }

        // layout - breakpoints
          
        $S:     320px;   
        $M:     768px;     
        $L:     1170px;         

        // layout - media queries

        @mixin MQ($canvas) {
          @if $canvas == S {
           @media only screen and (min-width: $S) { @content; } 
          }
          @else if $canvas == M {
           @media only screen and (min-width: $M) { @content; } 
          }
          @else if $canvas == L {
           @media only screen and (min-width: $L) { @content; } 
          }
        }

        #google-container {
            position: relative;
            width: 100%;
            height: 500px;
            background-color: $background;

            @include MQ(M) {
                height: 300px;
            }

            @include MQ(L) {
                height: 600px;
            }
        }

        #cd-google-map {
            position: relative;

            address {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                padding: 1em 1em;
                background-color: rgba($color-2, .9);
                color: $color-3;
                @include font-size(13px);

                @include MQ(M) {
                    @include font-size(15px);
                    text-align: center;
                }
            }
        }

        #cd-zoom-in, #cd-zoom-out {
            height: 32px;
            width: 32px;
            cursor: pointer;
            margin-left: 10px;
            background-color: rgba($color-2, .9);
            background-repeat: no-repeat;
            background-size: 32px 64px;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg');

            .no-touch &:hover {
                background-color: rgba($color-2, 1);
            }

            @include MQ(M) {
                margin-left: 50px;
            }
        }

        #cd-zoom-in {
            background-position: 50% 0;
            margin-top: 10px;
            margin-bottom: 1px;

            @include MQ(M) {
                margin-top: 50px;
            }
        }

        #cd-zoom-out {
            background-position: 50% -32px;
        }

        input{ font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            padding-top: 1%;
            padding-bottom: 1%;
            font-size: 20px;}
        .form-control {width: 90%;}
        .cont p{margin-bottom: -2%;
            font-size: 20px;}

        .cont1 p{margin-top:5%;
            font-size: 18px;}


        .footer {
           position: relative;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color:#E8E8E8;
           color: black;
           text-align: center;
        }
        a {
        color: black;}

        .fa {
            display: inline-block;
            font: normal normal normal 16px/1 FontAwesome;
            font-size: 18px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            padding: 0.5%;
            margin-top: 3%
        }

        /*.footer-ul{height: 100%}*/
        .footer-ul ul {
          list-style-type: none;
          margin-left:27%;
          padding-top:3%;
          padding-bottom: 1%;
          overflow: hidden;
          background-color: transparent;
        }

        .footer-ul li {
          float: left;
        }

        .footer-ul li a {
          display: inline;
          color: black;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        }

        .footer-ul span{font-size: 16px;
            color: #B6B0B0}



    .ch-grid {
        margin: 40px 0 0 0;
        padding: 0;
        list-style: none;
        display: block;
        text-align: center;
        width: 100%;
    }

    .ch-grid:after,
    .ch-item:before {
        content: '';
        display: table;
    }

    .ch-grid:after {
        clear: both;
    }

    .ch-grid li {
        width: 170px;
        height: 170px;
        display: inline-block;
        margin: 20px;
    }

    .ch-item {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        cursor: default;
        box-shadow: 
            inset 0 0 0 16px rgba(255,255,255,0.6),
            0 1px 2px rgba(0,0,0,0.1);
        transition: all 0.4s ease-in-out;
    }

    .ch-img-1 { 
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/52820/RomainG.jpg');
      background-repeat: no-repeat; 
     background-size: cover;

    }
    .ch-info {
        position: absolute;
        background: rgba(63,147,147, 0.8);
        width: inherit;
        height: inherit;
        border-radius: 50%;
        overflow: hidden;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        transform: scale(0);
      
    }

    .ch-info h3 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 22px;
        margin: 0 30px;
        padding: 45px 0 0 0;
        height: 140px;
        font-family: 'Open Sans', Arial, sans-serif;
        text-shadow: 
            0 0 1px #fff, 
            0 1px 2px rgba(0,0,0,0.3);
    }

    .ch-item:hover {
        box-shadow: 
            inset 0 0 0 1px rgba(255,255,255,0.1),
            0 1px 2px rgba(0,0,0,0.1);
    }

    .ch-item:hover .ch-info {
        transform: scale(1);
        opacity: 1;
    }

    #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }

     .general-row1{ display:block;
                    position:relative;
                    margin:0;
                    padding: 70px 0px 0px 0px;
                    padding-bottom: 6%;
     }




     .parallax {
      /* The image used */
      background-image: url('img_parallax.jpg');

      /* Full height */
      height: 100%; 

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media only screen and (max-device-width: 1366px) {
      .parallax {
        background-attachment: scroll;
      }
    }
    .ab1 img{width:100%;height:500px;position:relative;}

    .ab3{    width: 1000px;
        background-color: white;
        display: inline-block;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 111;
        min-height: 300px;
        padding: 20px 50px;
    }
    .ab3 h1{font-size: 46px;
            color:lightblue;}
    .ab3 h3{
            font-size: 20px;
        }
    .loc h1{font-size: 44px;
            font-family:'Baloo Da', cursive;}
    .loc p{font-family: 'El Messiri', sans-serif;
            font-size: 22px}
    .loc .col-md-7{padding-left: 0px}
    .loc-img{width: 220px;
        height: 228px;}
    .loc-img1{margin-top: 5%;
            width: 443px;
            height: 420px;
        }
    .ser h1{font-size: 44px;
            font-family:'Baloo Da', cursive;}
    .ser p{font-family: 'El Messiri', sans-serif;
            font-size: 22px}

    video {
      max-width: 100%;
      height: auto;
    }

    .leader h1{font-size: 54px;
            font-family:'Baloo Da', cursive;}
    .leader p{font-family: 'El Messiri', sans-serif;
            font-size: 22px}


    .loc h2 {
        font: 33px sans-serif;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
    }

.behind h2 {
    font: 33px sans-serif;
    margin-top: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}

.behind h2:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 15px; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

.behind h2 span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background: #fff; 
    padding: 0 15px; 
}


    #wrapper{
                padding:0px;
                width:960px;
                height:auto;
                margin:auto;
                overflow:hidden;
    }

    .image-container{
                float:left;
                width:250px;
                height:250px;
                position:relative;
                margin:10px;
                cursor:pointer;
                
    }

    .image-container img{
                width:250px;
                height:250px; 
                position:absolute;
                border-radius: 50%;
    }

    .image-caption {
                width:100%;
                height:100%;
                background:rgba(0, 0, 0, 0.7);
                position:absolute; 
                opacity:0; 
                transition:all 300ms ease-in-out;
               -webkit-transition:all 300ms ease-in-out;
               -moz-transition:all 300ms ease-in-out;
               -o-transition:all 300ms ease-in-out;
               -ms-transition:all 300ms ease-in-out;
    }

    .image-caption h1{
                padding:45px 0px 5px 0px;
                text-align:center;
                margin-left:-15px;
                text-transform:uppercase;
                font-family: 'Indie Flower', cursive;
                font-size:25px;
                color:#00bfb6;
    }

    .image-caption p{
                text-align:center; 
                font-family: 'Overpass Mono', monospace;
                color:#fff;
    }

    .image-container:hover .image-caption{
                opacity:1;
                border-radius: 50%;
    }

    .hist h1{font-size: 40px;
            font-family:'Baloo Da', cursive;}

    .hist-img1 {    width: 540px;
        height: 500px;}

    .hist-img2{
                width: 260px;
                height: 250px;
                margin-top: 4%;
                margin-right: 2%;
    }
    .hist-img3{width: 260px;
                height: 250px;
                margin-top: 4%;
                }


    .hist-img4{
                width: 540px;
                height: 270px;
                margin-top: 4%;
                
    }
    .hist-p{font-family: 'El Messiri', sans-serif;
            font-size: 20px}

    .hist-h2{font-size: 30px}

    /*
    h2{
      text-align:center;
      padding: 20px;
    }*/




    /*services*/
    .ser h3{    font-size: 56px;
            font-family:'Baloo Da', cursive;}
    .ser p{font-family: 'El Messiri', sans-serif;
            font-size: 20px;
            margin-right: 17%;
            margin-left: 17%;
        }
    .serv .col-md-6{padding-right: 0px;
        padding-left: 0px;
        }
    .serv .col-md-8{padding-right: 0px;
        padding-left: 0px;
        }
    .serv .col-md-4{padding-right: 0px;
        padding-left: 0px;
        }
    .serv .col-md-4 .col-md-12{padding-right: 0px;
    padding-left: 0px;}

    .ser-img {width: 100%;
        height: 400px;}
    .ser1-img {width: 100%;
        height: 550px;}
    .ser2-img {width: 100%;
        height: 275px;}
    /*
    img{
      -webkit-filter: blur(1px);  Safari 6.0 - 9.0 
      filter: blur(1px);}*/
     

    .serv .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:40px;
          color: white;
        right: -7%;
        
        background-color: rgba(0,0,0,0.4);

    }

    .ser-img1 .centered{  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:40px;
          color: white;
        right: -11%;
        
        background-color: rgba(0,0,0,0.4);}
    .ser3 .centered{  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:40px;
          right: -29%;
          color: white;
         background-color: rgba(0,0,0,0.4);}

     .ser2 .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:40px;
        color: white;
        right: -29%;
        background-color: rgba(0,0,0,0.4);

    }
     .ser4 .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:40px;
      right: 15%;
        color: white;
        background-color: rgba(0,0,0,0.4);

    }

        .pro h3{    font-size: 40px;
                    font-family:'Baloo Da', cursive;
                    padding-bottom: 0%}
        .pro p{font-family: 'El Messiri', sans-serif;
                    font-size: 20px;
                    padding-bottom: 3%;}figure.effect-ming {
            background: #030c17;
        }




        .feature_item {
            background: #fff;
            border-radius: 10px;
            padding: 40px 60px 40px 40px;
            margin-bottom: 30px;
            -webkit-transition: all 300ms linear 0s;
            -o-transition: all 300ms linear 0s;
            transition: all 300ms linear 0s;
            border: 3px solid #eeeeee;}


        .feature_item h4 {
            font-size: 18px;
            font-family: "Oswald", sans-serif;
            font-weight: 500;
            color: #222222;
            margin-bottom: 20px;
            -webkit-transition: all 300ms linear 0s;
            -o-transition: all 300ms linear 0s;
            transition: all 300ms linear 0s;}

        .feature_item h4 i {
            font-size: 24px;
            padding-right: 15px;
            position: relative;
            top: 4px;
        }



        .feature_item:hover h4 {
            color: #fab700;
        }


        .feature_item p {
            margin-bottom: 0px;
        }

    .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: 279.58px;
            transition: .5s ease;
            backface-visibility: hidden;
            }

        .middle {
            transition: 0.5s ease;
            -webkit-transition: 0.5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            }

        .c1:hover .image {
            opacity: 0.3;
        }

        .c1:hover .middle {
            opacity: 1;
        }
        
        .text {
                background-color: transparent;
                color:black;
                font-size: 27px;
                }
    .news h1{font-size: 21px;
        border-top: 2px solid black;
        padding-top: 10%;
        border-bottom: 2px solid black;
        padding-bottom: 10%;}
    .news-p{padding-top: 2%;
            font-size: 20px}
    .news span{font-size: 11px}
    .news h4{padding-top: 5%;
            font-size: 40px;}


     input[type=text] {
      padding: 5px;
      margin-top: 8px;
      font-size: 16px;
      border: none;
      border: 1px solid #ccc;
    }

     .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 10px;
      background: #ddd;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

     .search-container button:hover {
      background: #ccc;
    }

    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;}
    }

    .news .col-md-6{padding-right: 4px;
        padding-left: 4px;}


    .new-p p{font-size: 16px;}
.new-p h4{font-size: 26px;
        margin-top: 13%;
        margin-bottom: 11%;}






 