.glax_tm_topbar_wrap {
    left: 80px;
    right: 80px;
    height: 90px;
    position: absolute;
    top: 0px;
    z-index: 30;}

.glax_tm_topbar_wrap .inner_wrap {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-left: 260px;
    position: relative;
    z-index: 5;}
.glax_tm_topbar_wrap .left_part_wrap {
    width: auto;
    height: 90px;
    float: left;
    display: flex;
    align-items: center;}
.glax_tm_topbar_wrap .share_wrap ul {
    margin: 0px;
    list-style-type: none}
.glax_tm_topbar_wrap .share_wrap ul li {
    margin: 0px;
    display: inline-block}

.glax_tm_topbar_wrap .share_wrap ul li a {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #666;
    text-align: center;
    line-height: 30px;
    color: #666;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;}

 .glax_tm_topbar_wrap .share_wrap ul li a i {

    transition: all 0s ease;}