	.p1	{background-color:#A74AC4;}
	.p2 {font-style:Georgia;color:white;padding-left:20px;}
	.ppp{margin-bottom:0px;background-color:transparent;}
	.navbar-default .navbar-nav>li>a {color: white;background-color:transparent;}
	hr{ 
		height: 1px;
		color: red;
		background-color: black;
		border: none;
		width:10%;
	  }

	.btn-danger {
				color: #fff;
				background-color: #d9534f;
				border-color: #d43f3a;
				margin-left:auto;
				margin-right:auto;
				display:block;
				}
	.btn-info {
				color: #fff;
				background-color: #8B7765;
				border-color: #8B7765;
			}
	.but{
		text-align:center;
		padding-bottom:50px;
		}
	.but1{
		text-align:center;
		padding-bottom:60px;
		}
	.md{
		padding-top:50px;
		}
	.p3{
		padding-top:40px;
		padding-bottom:20px;
		color:white;
		font-size:14px;
		text-align:center;
		}
	.p4 {
		padding-bottom:70px;
		display:block;
		color:white;
		}
	.navbar-default .navbar-brand {font-size: 110px;padding-top: 12%;}
	.pp1{background-color:#A74AC4;padding-top:30px;font-size: 20px;padding-right:20px}
	.transparent{background-color: transparent;}
	.navbar-right {margin-top: 2%;background-color: transparent;}
	.p5 {
		background-color:#20B2AA;
		}

				.p6{
					text-align:center;
					color:white;
					padding-top:50px;
				}

				.p7{
					color:white;
					font-size:12px;
					text-align:center;
					padding-bottom:50px;
				}

					
				.p8 {
					background-color:#DCDCDC;
				}

				.p9{
					padding-top:60px;
					padding-bottom:10px;
					text-align:center;
				}

				.p9 p{font-size:14px;text-align:center;padding-bottom:30px}
				.p10 i{padding-left:35px;
				padding-bottom:100px;}
				.p10 img{
					border-radius:50%;width:200px;height: 200px;
				}
				.p10 p{padding-left:30px;padding-top:20px}
				.p11 p{padding-left:30px;padding-top:20px}
				
				.p10 span{color:blue;font-size:10px}
				.p11 span{color:blue;font-size:10px}


				.p11 i{
					padding-left:45px;
					padding-bottom:100px;}

				.p11 img{
					border-radius:50%;
					width:200px;
					height: 200px;
				}

				.p12 {
					text-align:center;
					color:black;
					padding-top:50px;
					
				}
				.p12 p{
					font-size:14px;text-align:center;padding-bottom:30px
				}
				.imm{
				height:100%;}

				.imm h5{
					padding-left:50px;color:white;
				}
				
				.imm p{padding-left:0px;color:white;padding-bottom: 20px;}
				.progress-bar {

				  position: relative;

				  height: 100px;

				  width: 100px;

				}

				 

				.progress-bar div {

				  position: absolute;
				  height: 100px;
				  width: 100px;

				  border-radius: 50%;

				}

				 

				.progress-bar div span {

				  position: absolute;
				  font-family: Arial;

				  font-size: 25px;

				  line-height: 75px;

				  height: 75px;

				  width: 75px;

				  left: 12.5px;

				  top: 12.5px;

				  text-align: center;

				  border-radius: 50%;

				  background-color: white;

				}

				 

				.progress-bar .background { background-color: #b3cef6; }

				 

				.progress-bar .rotate {

				  clip: rect(0 50px 100px 0);

				  background-color: #4b86db;

				}

				 

				.progress-bar .left {

				  clip: rect(0 50px 100px 0);

				  opacity: 1;

				  background-color: #b3cef6;

				}

				 

				.progress-bar .right {
				  clip: rect(0 50px 100px 0);

				  transform: rotate(180deg);

				  opacity: 0;

				  background-color: #4b86db;

				}

				 

				@keyframes

				toggle {  0% {

				 opacity: 0;

				}

				 100% {

				 opacity: 1;

				}

				}

				.p13	{
					background-color:#FFE4B5;
				}

				.p14{
					background-color:#C71585;
				}
				.p15 {
					text-align:center;
					color:white;
					padding-top:50px;
					
				}
				.p16{
					padding-left:20px;
					padding-top:40px;
				}
				.p16 img {
					float:left;
					width:70px;
					height:70px;
					border-radius:50%;
					margin-right:40px;
				}
				.p16 p{
					color:#fff;font-size:14px;
				}
				
				.pas col-md-6{
					padding-bottom:50px;
					padding-top:50px;
				}
				
				.p17	{
					background-color:#2471A3;
				}
				
				.p18 {
					text-align:center;
					color:white;
					padding-top:50px;
				}
				
				.form-control{
					width:100%;
					background-color:#000080;
					
				}
				
				.form-inline .form-control {
				display: inline-block;
				vertical-align: middle;
				width: 436px;
				
				}
				.ps129{font-size:20px; padding-bottom: 20px}
				
				.p19 {
					padding-bottom:80px;
				}
				
				
				.p17 .btn-primary {
				color: #fff;
				background-color:#B7DFF9  ;
				border-color: B7DFF9  ;
				margin-left: auto;
				margin-right: auto;
				display: block;
				}
				.footer {
					left: 0;
			   bottom: 0;
			   width: 100%;
			   background-color:#3D8BBD;
			   color: white;
			   text-align: center;
			   padding-top:10px;
			   padding-bottom:10px;
			   
			  
				}
				
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					background-color:#3D8BBD;
					
				}

				li {
					float: none;
					display:inline-block
				}

				li a {
				display: block;
				color: white;
				text-align: center;
				padding: 16px;
				text-decoration: none;
				}

			li a:hover {
				background-color: #111111;
				}
				
				
				navbar{
		background-color:purple;
		}  
		.navbar-default{
		border-color:transparent;
		}
		
		.progress {
	  width: 150px;
	  height: 150px;
	  line-height: 150px;
	  background: none;
	  margin: 0 auto;
	  box-shadow: none;
	  position: relative;
	}
	.progress:after {
	  content: "";
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  border: 7px solid #eee;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	.progress > span {
	  width: 50%;
	  height: 100%;
	  overflow: hidden;
	  position: absolute;
	  top: 0;
	  z-index: 1;
	}
	.progress .progress-left {
	  left: 0;
	}
	.progress .progress-bar {
	  width: 100%;
	  height: 100%;
	  background: none;
	  border-width: 7px;
	  border-style: solid;
	  position: absolute;
	  top: 0;
	  border-color: #ffb43e;
	}
	.progress .progress-left .progress-bar {
	  left: 100%;
	  border-top-right-radius: 75px;
	  border-bottom-right-radius: 75px;
	  border-left: 0;
	  -webkit-transform-origin: center left;
	  transform-origin: center left;
	}
	.progress .progress-right {
	  right: 0;
	}
	.progress .progress-right .progress-bar {
	  left: -100%;
	  border-top-left-radius: 75px;
	  border-bottom-left-radius: 75px;
	  border-right: 0;
	  -webkit-transform-origin: center right;
	  transform-origin: center right;
	}
	.progress .progress-value {
	  display: flex;
	  border-radius: 50%;
	  font-size: 36px;
	  text-align: center;
	  line-height: 20px;
	  align-items: center;
	  justify-content: center;
	  height: 100%;
	  font-weight: 300;
	}
	.progress .progress-value div {
	  margin-top: 10px;
	}
	.progress .progress-value span {
	  font-size: 12px;
	  text-transform: uppercase;
	}

	/* This for loop creates the 	necessary css animation names 
	Due to the split circle of progress-left and progress right, we must use the animations on each side. 
	*/
	.progress[data-percentage="10"] .progress-right .progress-bar {
	  animation: loading-1 1.5s linear forwards;
	}
	.progress[data-percentage="10"] .progress-left .progress-bar {
	  animation: 0;
	}

	.progress[data-percentage="20"] .progress-right .progress-bar {
	  animation: loading-2 1.5s linear forwards;
	}
	.progress[data-percentage="20"] .progress-left .progress-bar {
	  animation: 0;
	}

	.progress[data-percentage="30"] .progress-right .progress-bar {
	  animation: loading-3 1.5s linear forwards;
	}
	.progress[data-percentage="30"] .progress-left .progress-bar {
	  animation: 0;
	}

	.progress[data-percentage="40"] .progress-right .progress-bar {
	  animation: loading-4 1.5s linear forwards;
	}
	.progress[data-percentage="40"] .progress-left .progress-bar {
	  animation: 0;
	}

	.progress[data-percentage="50"] .progress-right .progress-bar {
	  animation: loading-5 1.5s linear forwards;
	}
	.progress[data-percentage="50"] .progress-left .progress-bar {
	  animation: 0;
	}

	.progress[data-percentage="60"] .progress-right .progress-bar {
	  animation: loading-5 1.5s linear forwards;
	}
	.progress[data-percentage="60"] .progress-left .progress-bar {
	  animation: loading-1 1.5s linear forwards 1.5s;
	}

	.progress[data-percentage="70"] .progress-right .progress-bar {
	  animation: loading-5 1.5s linear forwards;
	}
	.progress[data-percentage="70"] .progress-left .progress-bar {
	  animation: loading-2 1.5s linear forwards 1.5s;
	}

	.progress[data-percentage="80"] .progress-right .progress-bar {
	  animation: loading-5 1.5s linear forwards;
	}
	.progress[data-percentage="80"] .progress-left .progress-bar {
	  animation: loading-3 1.5s linear forwards 1.5s;
	}

	.progress[data-percentage="90"] .progress-right .progress-bar {
	  animation: loading-5 1.5s linear forwards;
	}
	.progress[data-percentage="90"] .progress-left .progress-bar {
	  animation: loading-4 1.5s linear forwards 1.5s;
	}

	.progress[data-percentage="100"] .progress-right .progress-bar {
	  animation: loading-5 1.5s linear forwards;
	}
	.progress[data-percentage="100"] .progress-left .progress-bar {
	  animation: loading-5 1.5s linear forwards 1.5s;
	}

	@keyframes loading-1 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(36);
	    transform: rotate(36deg);
	  }
	}
	@keyframes loading-2 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(72);
	    transform: rotate(72deg);
	  }
	}
	@keyframes loading-3 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(108);
	    transform: rotate(108deg);
	  }
	}
	@keyframes loading-4 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(144);
	    transform: rotate(144deg);
	  }
	}
	@keyframes loading-5 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(180);
	    transform: rotate(180deg);
	  }
	}
	.progress {
	  margin-bottom: 1em;
	}



	h1 {
	  font-size: 50px;
	  word-break: break-all;
	}

	.row {
	  margin: 10px -16px;
	}

	/* Add padding BETWEEN each column */
	.row,
	.row > .column {
	  padding: 8px;
	}

	/* Create three equal columns that floats next to each other */
	.column {
	  float: left;
	  width: 33.33%;
	  display: none; 
	}

	/* Clear floats after rows */ 
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Content */
	.content {
	  background-color: none;
	  padding: 10px;
	}

	.content img {
	  background-color: none;
	  padding: 10px;
	  width: 50%;
	}	

	/* The "show" class is added to the filtered elements */
	.show {
	  display: block;
	}

	/* Style the buttons */
	.btn {
	  border: none;
	  outline: none;
	  padding: 12px 16px;
	  background-color: black;
	  cursor: pointer;
	  font-size: 14px;
	}
	.p15 p{font-size:14px;text-align:center;padding-bottom:30px}

	.btn:hover {
	  background-color: #ddd;
	}

	.btn.active {
	  background-color: #666;
	  color: white;
	}

	.form-control .pp1{
		color:white;
		width:870px;
	}
	.navbar-header{
		padding-left: 140px;
		padding-top:20px;
	}

	.imm .img{
		height:150px;padding-left:50px;
	}

	.p16 .p161{color:#fff;font-size:14px;}



	.navbar-nav li a {
		color: white;
	}
	.navbar-default .navbar-brand {
		color: white;
	}
	.navbar-default .navbar-nav>li>a {color: white;}
	.btn-color1 {
		background-color:transparent;
		color: white;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 80px;
		text-transform: uppercase;
	}
	.nav-pills {
		padding: 10px 1px 18px 4px;
		text-align: center;
	}
	.nav-pills li {
			float:none;
	    display:inline-block;
	}

	.par ul{background-color: transparent;}

@media screen and (max-width: 800px)
	{
		.imm{text-align: center}
		.imm h5 {padding-left: 0px;color: white;}
		.p10 p{padding-left: 0px;padding-top: 11px;}
		.p10 i {padding-left: 17px;padding-right: 9px;padding-bottom: 34px;}
		.p11 i {padding-left: 31px;padding-right: 16px;padding-bottom: 34px;}
		.form-inline .form-control {width: 676px;}
		.form-control {width: 100%;background-color: #000080;margin-bottom: 3%;}
		.navbar-default .navbar-brand {font-size: 76px;padding-top: 12%;padding-right: 1%}
		.navbar-header {padding-left: 51px;padding-top: 20px;}
		.navbar-right {margin-top: 5%}
		
		.p16{margin-left: 8%}


	}

@media screen and (max-width: 650px)
{
	.navbar-default .navbar-brand {font-size: 74px;padding-top: 3%;}
	.navbar-toggle {margin-top: 20px}
	.imm p {font-size: 15px;}
	.p7 {padding-bottom: 0px;}

}
@media screen and (max-width: 600px) 
{
	.navbar-default .navbar-brand {font-size: 76px;padding-top: 1%;}
	.navbar-header {padding-left: 0px;}
	.imm img{width: 200px;height: 200px}
	.form-inline .form-control {width: 100%}
	.p11 p {padding-left: 10px;}
}

@media screen and (max-width: 480px)
{
	.navbar-header {padding-top: 32px;}
	.p16 {padding-top: 21px;}
} 

@media screen and (max-width: 400px)
{
	.p3 h3 {font-size: 18px;}
	.btn {font-size: 12px;}
	.imm p {padding-bottom: 0px;font-size: 16px;}
	.imm img {width: 150px;}
	.imm .p{padding-bottom: 9%;}
	.p16 {margin-left: 1%;}
	.p16 img {margin-right: 14px;}
}

@media screen and (max-width: 360px)
{
	.navbar-default .navbar-brand {font-size: 70px;}
}

@media screen and (max-width: 320px)
{
	.navbar-default .navbar-brand {font-size: 62px;}
	.navbar-toggle {margin-top: 0px; margin-right: 0px;font-size: 10px}
	.p3 {padding-top: 0px;}
	.btn {font-size: 10px;}
	.p4 {padding-bottom: 30px}
	.imm p {font-size: 13px;}
	.p9 h2{margin-top: -16px;font-size:26px;}
	.p10 img {width: 150px;height: 150px;}
	.p11 img {width: 150px;height: 150px;}
	.p12 p{font-size: 13px;}
	.nav>li>a {padding: 6px 10px;}
	.ps129 {font-size: 17px}
	.p16 {margin-left: -10%;}
	.p15 p {padding-bottom: 0px;}
}


	