body {
        margin:0 auto;
        padding:0;
        max-width:100%;
    }
.general-row{display:block;
        	position:relatve;
        	margin:0;
        	padding: 70px 0px 0px 0px;
 }
 .navbar{
        background-color: white;
        height:67px;
        }

.navbar-brand>img {
                    display: block;
                    height: 90px;
                    width: 150px;
                }

.navbar-inverse .navbar-nav>li>a {
                                    color: black;
                                    padding-top: 32px;
                                    font-size: 18px;
                                    padding-right: 23px;
                                    font-family: 'El Messiri', sans-serif;
                                }


.navbar-inverse .navbar-brand {
        color: white;
        margin-left: 35%;}

.navbar-inverse {
            border: none;
        }