.part{
		border-style:none;
}

.cf-padding1 {
			padding-top:30px;
			padding-bottom:30px;
}

.ca-pad {
			padding-top:10px;
			text-align:right;
			padding-right:70px;
}

.pp1{
		padding-top:15px;
		color:white;
		padding-left:30px;
		font-size:16px;
}	

.image {
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
}

.c1 .image{
	height: 250px;
}

.middle {
		transition: 0.5s ease;
		-webkit-transition: 0.5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
}

.c1:hover .image {
		opacity: 0.2;
	}

.c1:hover .middle {
		opacity: 1;
}

.text {
			background-color: darkred;
			color: white;
			font-size: 15px;
			padding: 15px 20px;
}

.p {
		margin-left:0;
		margin-top :60px;
		background-color:light-grey;
		}

.p1 {
		margin-left:5px;
		margin-top :60px;
}
		
.navbar-inverse{
		    margin-bottom: 0px;
		    border-radius:0;
		    background-color: transparent;
    		border-color: transparent;
		}

.navbar-nav {
    		float: none;
    		margin: 0 auto;
    		display: table;
    		font-size: 20px;
		}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.dropdown .dropdown-menu {
  opacity:0;
}
.dropdown:hover .dropdown-menu
{
    opacity: 1;
    display:block;
}

.navbar-nav>li>.dropdown-menu {
	font-size: 18px;
}

.form-control {width:200px;}
.popover {max-width:400px;}

a {
    color: black;
    text-decoration: none;
}

.pagination {
    padding-left: 620px;
 }
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: black;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

