.general-row{	display:block;
					position:relative;
					margin:0;
					padding: 70px 0px 0px 0px;
	 }

.pre h5{font-size: 40px;
		font-family:'Baloo Da', cursive;}

.pre p{font-family: 'El Messiri', sans-serif;
		font-size: 16px;
		padding-top: 3%;
	    padding-bottom: 3%;}

.pre li{font-family: 'El Messiri', sans-serif;
		font-size: 16px;
		}

.container {
	    padding-right: 300px;
	    padding-left: 300px;}

hr {
	    margin-top: 20px;
	    margin-bottom: 20px;
	    border: 0;
	    border-top: 3px solid #eee;}